:root{
	--cor-fundo: url("../imagens/menu(1).jpg");
    --cor-submenu: #13293d;
	--cor-hover: #1B98E0;
	--cor-primaria: #E8F1F2;
}

/*Define a posição da imagem do menu*/
.logo{
	margin-right: 23%;
    margin-top: 1%;
}

.logo img{
    border: none;
	width: 150px;
	height: 100px;
	object-fit: cover;
}

/*configura o fieldset do menu*/
header{
    background-image: var(--cor-fundo);
    background-repeat: no-repeat;
    background-size: cover;
    border: solid var(--cor-primaria) 1px;
    border-radius: 5px;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
/*Configura a posição do menu*/
.menu{
    margin-right: 37%;
}

/*Remove a formatação de lista do menu*/
.menu ul {
    list-style-type: none;
    padding: 0;
}

/*Define o estilo do menu e o deixa na horizontal*/
.menu ul {
    background-color: var(--cor-submenu);
    background-repeat: no-repeat;
	border: solid var(--cor-primaria) 1px;
    border-radius: 10px;
	font-family: "Arial";
    align-items: space-between;
    justify-content: space-between;
    display: flex;
}

.menu ul li {
    display: inline;
    position: relative;
	font-size: 1.3em;
}

.menu ul li a {
    color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

.menu ul li a:hover {
    background-color: var(--cor-hover);
    border-radius: 10px;
}

/*sub menu*/
.menu ul ul {
    display: none;
    left: 0;
    position: absolute;
	font-size: 0.6em;
}

.menu ul li:hover ul {
    display: block;
}

.menu ul ul {
    width: 150px
}

.menu ul ul li a {
    display: block;
}