:root{
	--cor-primaria: #E8F1F2;
	--cor-background: radial-gradient(#1B98E0,#006494);
	--cor-hover: #1B98E0;
}

/*Estilo para o plano de fundo*/
body{
	background-image: var(--cor-background);
	background-repeat: no-repeat;
	margin: 0px;
}

/*Estilo dos textos principais*/
.secao{
	color: var(--cor-primaria);
	font-family: "Arial"; 
	text-align: center;
	font-size: 1.2em;
}

/*Estilo dos títulos*/
h1{
	color: var(--cor-primaria);
	font-size: 30px;
	font-family: "Cooper black";
}

/*Configura as imagens do site*/
img{
	border: solid black 2px;
	border-radius: 10px;
}

/*Configura os vídeos incorporados*/
iframe{
	border: solid black 2px;
	border-radius: 10px;
}

.vidEsquerda{
	position: absolute;
	margin-right: 50%;
}

.vidDireita{
	position: absolute;
	margin-left: 50%;
}

.legVideo{
	color: var(--cor-primaria);
	font-family: "Times new roman";
	font-size: 1.6em;
}

#leg1{
	color: var(--cor-primaria);
	font-family: "Times new roman";
	font-size: 1.4em;
}

#leg2{
	color: var(--cor-primaria);
	font-family: "Times new roman";
	font-size: 1em;
}

/*Configura as imagens que aparecem ao lado de um texto e o próprio texto*/
.imgLateral{
	border: none;
	display: table;
}

.imgLateral img{
	width: 450px;
	height: 300px;
	position: absolute;
}

.imgRet{
	height: 330px;
	width: 210px;
	position: absolute;
}

#textoRet{
	color: var(--cor-primaria);
	font-size: 1.5em;
	font-family: "Arial";
	margin-left: 27%;	
}

.imgDireita{
	margin-left: 60%;
}

.textoEsquerda{
	color: var(--cor-primaria);
	font-size: 1.5em;
	margin-right: 45%;
}

.textoDireita{
	color: var(--cor-primaria);
	font-size: 1.5em;
	font-family: "Arial";
	margin-left: 39%;
}

/*Configura o rodapé do site*/
.rodape{
	border-top: solid var(--cor-primaria) 2px;
	border-right: none;
	border-left: none;
	border-bottom: none;
	margin: 10px;
}

.rodape legend{
	color: var(--cor-primaria);
	font-family: "Cooper black";
	font-size: 1.3em;
	margin-left: 68%;
}

.rodape img{
	border: none;
	border-radius: 0px;
	position: relative;
	height: 50px;
	width: 50px;
	margin-top: -5%;
}

.rodape img:hover{
	-webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

footer input{
	border: solid black 2px;
	border-radius: 10px;
	position: absolute;
	padding: 7px;
	margin-left: 3%;
}

footer input:hover{
	-webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}