:root{
    --estagio: url("../imagens/estagio(2).jpg");
    --edicao: url("../imagens/edicao(1).jpg");
    --formacao: url("../imagens/formacao(1).jpg");
    --fale-comigo: url("../imagens/faleComigo(1).jpg");
    --cor-primaria: #E8F1F2;
}

/*Configura os link*/
.link{
    text-decoration: none;
    color: var(--cor-primaria);
}

/*Configura os campos*/
#estagio{
    padding: 20px;
    border: solid var(--cor-primaria) 2px;
    border-radius: 5px;
    position: relative;
    margin: 0% 3%;
}

#estagio:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
    background: var(--estagio) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#estagio:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

#edicao{
    padding: 20px;
    border: solid var(--cor-primaria) 2px;
    border-radius: 5px;
    position: relative; 
    margin: 0% 3%;
}

#edicao:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
    background: var(--edicao) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#edicao:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

#formacao{
    padding: 20px;
    border: solid var(--cor-primaria) 2px;
    border-radius: 5px;
    position: relative;
    margin: 0% 3%; 
}

#formacao:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
    background: var(--formacao) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#formacao:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

#faleComigo{
    padding: 20px;
    border: solid var(--cor-primaria) 2px;
    border-radius: 5px;
    position: relative;
    margin: 0% 3%;
}

#faleComigo:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: -1;
    background: var(--fale-comigo) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#faleComigo:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}